h1 {
    text-align: center;
    color: #ffffff;
    padding: 2%;
    font-family: 'Titillium Web', sans-serif;
}

#links {
    text-align: center;
}

body {
    background: url(../images/qbkls.png);
    color: #777777;
    font-family: 'PT Sans', sans-serif;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  #topname {
      background-color: #4aaaa5;
  }

  #info {
      background-color: #ffffff;
      border: 2px solid #dddddd;
      padding: 5px;
  }

  #top {
      background-color: #ffffff;
      border-bottom: 2px solid #cccccc;
      margin-bottom: 10px;
      padding-left: 0;
      padding-right: 0;
  }
  
  h2 {
      color: #4aaaa5;
      font-family: 'Titillium Web', sans-serif;
      padding-left: 5px;
  }

  #footer {
      background-color: #666666;
      color: #ffffff;
      border-top: 5px solid #4aaaa5;
      height: 50px;
      padding: 15px;
  }

  .figure-caption {
      background-color: #4aaaa5;
      color: #ffffff;
      text-align: center;
      position: absolute;
      top: 75%;
      bottom: 20%;
      z-index: 2;
      padding-right: 0px;
      padding-left: 0px;
      right: 15px;
      left: 15px;
  }

  .figure-img {
    position: relative;
}

figure {
    overflow: hidden;
}